{% extends "layout.html" %}
{% block content %}
    <h3> About Page</h3>
    <p></p>
    <p>This should help networkengineers for giving an overview of new networks. It will ask for IP-Network to do a tcp portscan. It will try to login and find the devicetype</p>
    <p>Then it will login and execute a buntch of "show-commands" depending on devicetype. The ouput will be parsed and some Excelfiles will be generated.</p>
    <p>This files can be downloadet and used for deeper analysis</p>
    <p>Graphs from CDP-Neighbors will be generated</p>
    <p></p>
    <p>This was done by Gernot Eder</p>
    <p>                     (c)2021 </p>
{% endblock content %}
